#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.row {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
  justify-content: center;
}

.source {
  height: 25px;
  width: 25px;
  border: 2px solid black;
  border-radius: 14.5px;
}

.tile {
  height: 25px;
  width: 25px;
  border-radius: 4px;
}
